<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socioeconomic View of Health in the US</title>
</head>
<body>
        <img src="medical_icon.jpg" alt="medical icons around a doctor" style="float: left; margin-right: 10px;">
        <h1>Impact of Social and Economic Factors on Health in the US (2015)</h1>
        <p>We live, work, and play in our communities. Are some places in the US more healthy than others and why? Let's explore the impact of social and economic characteristics on health and mortality in the US.</p>
        <br>
        <p>Social characteristics include a person's age, gender, race, marital status, level of education completed, zip code they live in, size of the town they live in, and the average age of people in the town. Economic characteristics include median income, employment status, poverty rate in their community, and type of health insurance coverage.</p>
        <br>
        <p>CDC’s National Program of Cancer Registries and the National Cancer Institute’s (NCI’s) Surveillance, Epidemiology, and End Results Program annually produce U.S. Cancer Statistics data, which are the official federal cancer statistics. U.S. Cancer Statistics provides cancer information on the entire U.S. population.</p>
        <br>
        <p>In 2015, a total of 1,633,390 new cancer cases were reported in the United States: 816,937 in men and 816,453 in women. The overall incidence rate was 437.7 per 100,000 persons.</p>
        <h2>CLICK TO SEE DATA PER REGION</h2>
        
    <a href="/chart1">
       COUNTY  -  Mortality Rate vs Poverty % (per county) 
    </a><br><br>
    <a href="/chart4">
        COUNTY  -  Cancer Incidence Rate vs. Population (per county) 
    </a><br><br>
    <a href="/chart7">
        COUNTY  -  Mortality Rate in US (per county) (under construction)
    </a><br><br>
    <a href="/chart2">
       STATE  -  Cancer Incidence Per State
    </a><br><br>
    <a href="/chart6">
       STATE  -  Health Rates per State (Cancer Incidence, Mortality Rate, & Target Death Rate) *zoom im*
    </a><br><br>
    <a href="/chart3">
       UNITED STATES  -  Target Death Rate in US (under construction)
    </a><br><br>
    <a href="/chart5">
       UNITED STATES  -  Correlation of Social Factors to Mortality Rate in US 
    </a>
</body>
</html>